.excel-container {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  width: 600px;
  
 
}

.left-section {
  flex: 2;
}

.right-panel {
  flex: 1;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  background-color: #ce1c1c;
  width: 100%;
  box-sizing: border-box;
}

.right-panel h2,
.right-panel h3 {
  margin-top: 0;
}

.right-panel table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.right-panel th,
.right-panel td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 14px;
}

.rice-summary {
  margin-bottom: 15px;
  font-size: 14px;

}.refresh-wrapper {
  position: relative;
 
  margin-bottom: 12px;
}

.refresh-btn {
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.refresh-btn:hover {
  background-color: #0056b3;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -65px;
  left: 13%;
  transform: translateX(-50%);
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.3s;
}

.refresh-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Side Popup */
.popup-message {
  position: fixed;
  top: 150px;
  right: 40%;
  background-color: #4BB543;
  color: white;
  padding: 18px 28px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeSlideInOut 2.5s ease;
  font-size: 22px;
  z-index: 999;
}

@keyframes fadeSlideInOut {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
